diffusers
transformers
accelerate
controlnet_aux
peft
compel
safetensors
huggingface_hub
# Optional for image processing
opencv-python
rembg
onnxruntime
numpy
transparent-background
carvekit
pymatting
opencv-contrib-python